auto-install-peers=false
enable-pre-post-scripts=true
shamefully-hoist=true

# docker run -itd --rm --name verdaccio -p 4873:4873 verdaccio/verdaccio
# npm adduser --registry http://localhost:4873
# registry=http://localhost:4873
